.flex_box {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row-reverse;
}
.box_flex {
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
}
.container {
  display: flex;
  flex-flow: row wrap;
  flex-flow: column;
  flex-flow: column-reverse;
  flex-flow: nowrap;
  flex-flow: row-reverse;
  flex-flow: row;
  flex-flow: wrap-reverse;
  flex-flow: wrap;
}
.content {
  display: flex;
  justify-content: center;
  justify-content: baseline;
  justify-content: end;
  justify-content: first baseline;
  justify-content: flex-end;
  justify-content: flex-start;
  justify-content: last baseline;
  justify-content: left;
  justify-content: right;
  justify-content: safe;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  justify-content: start;
  justify-content: stretch;
  justify-content: unsafe;
}
.align {
  display: flex;
  align-items: center;
  align-items: baseline;
  align-items: end;
  align-items: first baseline;
  align-items: flex-end;
  align-items: flex-start;
  align-items: last baseline;
  align-items: normal;
  align-items: safe;
  align-items: self-end;
  align-items: self-start;
  align-items: start;
  align-items: stretch;
}
.align_content {
  display: flex;
  align-content: center;
  align-content: last baseline;
  align-content: end;
  align-content: flex-start;
  align-content: flex-end;
  align-content: normal;
  align-content: space-around;
  align-content: space-between;
}
.direction {
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row;
}
.boxing {
  order: 3;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 200px;
  flex: 1 0 120px;
  align-self: center;
  align-self: flex-end;
  align-self: flex-start;
}
