.container {
  display: grid;
  column-gap: 40px;
  column-count: 3;
  column-rule: 4px double #ff00ff;
}
.container {
  display: grid;
  gap: 20px 50px;
  columns: 3;
  gap: 50px;
  row-gap: 50px;
  column-gap: 40px;
}
.container {
  display: grid;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: minmax(80px, 1fr) 150px 150px;
}
.container {
  display: grid;
  align-content: start;
  align-content: baseline;
  align-content: center;
  align-content: end;
  align-content: flex-end;
  align-content: flex-start;
  align-content: normal;
  align-content: safe;
  align-content: space-around;
  align-content: space-between;
  align-content: space-evenly;
}
.container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-column: 1 / span 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.container {
  display: grid;
  grid-template-areas: "myHeader myHeader myHeader myHeader myHeader";
  grid-area: myHeader;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "menu footer footer footer footer footer";
}
.container {
  place-self: end;
  writing-mode: vertical-rl;
  place-self: end stretch;
}
.container {
  float: left;
  width: 100%;
}

@supports (display: flex) {
  .container {
    display: flex;
    background-color: DodgerBlue;
  }
}