.list_style {
  list-style-type: circle;
  list-style-type: disc;
  list-style-type: square;
  list-style-type: upper-roman;
  list-style-type: lower-roman;
  list-style-type: lower-alpha;
  list-style-type: decimal;
}
.list_position {
  list-style-position: outside;
  list-style-position: inside;
  list-style-position: initial;
  list-style-position: unset;
}
.list_shorthand {
  list-style: square inside url("sqpurple.gif");
}
.list_image {
  list-style-image: url("sqpurple.gif");
  list-style-image: none;
  list-style-image: inherit;
  list-style-image: initial;
}
