* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #fff;
  font-size: 1.5rem;
}
.hamburger-menu {
  width: 30px;
  height: 30px;
}
.hamburger-menu span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #654fef;
}

.main-nav {
  display: none;
  list-style-type: none;
}
.main-nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
}
.main-nav li:last-child a {
  background-color: #fff;
  color: #654fef;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}
.main-nav li:last-child a:hover {
  background-color: #c390f2;
  color: #fff;
}
.first {
  background-color: rgb(247, 88, 162);
  height: 500px;
  margin: 20px;
  border-radius: 20px;
}
.second {
  background-color: rgb(219, 240, 33);
  height: 200px;
  margin: 20px;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  .main-nav {
    display: flex;
  }
  main {
    display: flex;
  }
  .first {
    width: 75%;
  }
  .second {
    width: 25%;
    height: 500px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .first {
    background-color: rgb(252, 127, 186);
  }
  .second {
    background-color: rgb(233, 244, 116);
  }
}
.footer {
  background-color: #654fef;
  color: white;
  padding: 25px;
  text-align: center;
}
